# Python Mini Project 1

Q1. Create a Dictionary of lists to store the information of shipments given in the table

In [5]:
shipment_dict ={'Shipment id' : ['101','102','103','104','105','106'],
                'Sender' : [1,4,2,1,3,5],
                'Receiver' : [3,1,3,5,4,2],
                'Start date' : ['14-03-2020','18-06-2020','01-12-2020','23-06-2020','29-08-2020','28-06-2020'],
                'Delivery Date' : ['25-03-2020','09-07-2020','Null','25-06-2020','10-09-2020','Null'],
                'Sender_location' : ['Area1','Area2','Area1','Area1','Area5','Area1'],
                'Receiver_location' : ['Area6','Area4','Area1','Area4','Area3','Area1'],
                'Delivery status' : ['Delivered','Delivered','In-Transit','Delivered','Delivered','In-Transit'],
                'Shipping cost' : [198,275,200,314,275,270],
               }

In [6]:
import pandas as pd

In [7]:
shipment_data = pd.DataFrame(shipment_dict)
shipment_data

,Shipment id,Sender,Receiver,Start date,Delivery Date,Sender_location,Receiver_location,Delivery status,Shipping cost
0,101,1,3,14-03-2020,25-03-2020,Area1,Area6,Delivered,198
1,102,4,1,18-06-2020,09-07-2020,Area2,Area4,Delivered,275
2,103,2,3,01-12-2020,Null,Area1,Area1,In-Transit,200
3,104,1,5,23-06-2020,25-06-2020,Area1,Area4,Delivered,314
4,105,3,4,29-08-2020,10-09-2020,Area5,Area3,Delivered,275
5,106,5,2,28-06-2020,Null,Area1,Area1,In-Transit,270

Q2. Create a Dictionary of to store the information of clients given in the table.

In [8]:
client_dict = {'Client_id' : [1,2,3,4,5],'Client_Name' : ['Phillip','Omega III','Ramya','Romesh','John']}

In [9]:
client_data = pd.DataFrame(client_dict)
client_data

   Client_id Client_Name
0          1     Phillip
1          2   Omega III
2          3       Ramya
3          4      Romesh
4          5        John

Q3. Write a code to replace clientâ€™s id with their respective name in shipment dictionary using a loop and dictionary comprehension

In [10]:
for i in range(len(shipment_data)):
    for j in range(len(client_data)):
        if shipment_dict['Sender'][i] == client_dict['Client_id'][j]:
            shipment_dict['Sender'][i] = client_dict['Client_Name'][j]
        if shipment_dict['Receiver'][i] == client_dict['Client_id'][j]:
            shipment_dict['Receiver'][i] = client_dict['Client_Name'][j]
    
shipment_dict

#[shipment_dict['Sender'][i] = client_dict['Client_Name'][j]  if shipment_dict['Sender'][i] == client_dict['Client_id'][j]  elif shipment_dict['Receiver'][i] == client_dict['Client_id'][j]  shipment_dict['Receiver'][i] = client_dict['Client_Name'][j] for i in range(len(shipment_data)) for j in range(len(client_data)) ]}
updated_shipment_data = pd.DataFrame(shipment_dict)
updated_shipment_data

,Shipment id,Sender,Receiver,Start date,Delivery Date,Sender_location,Receiver_location,Delivery status,Shipping cost
0,101,Phillip,Ramya,14-03-2020,25-03-2020,Area1,Area6,Delivered,198
1,102,Romesh,Phillip,18-06-2020,09-07-2020,Area2,Area4,Delivered,275
2,103,Omega III,Ramya,01-12-2020,Null,Area1,Area1,In-Transit,200
3,104,Phillip,John,23-06-2020,25-06-2020,Area1,Area4,Delivered,314
4,105,Ramya,Romesh,29-08-2020,10-09-2020,Area5,Area3,Delivered,275
5,106,John,Omega III,28-06-2020,Null,Area1,Area1,In-Transit,270

Q4. Print all shipment details that are sent by Phillip

In [11]:
updated_shipment_data[updated_shipment_data['Sender'] == 'Phillip']

,Shipment id,Sender,Receiver,Start date,Delivery Date,Sender_location,Receiver_location,Delivery status,Shipping cost
0,101,Phillip,Ramya,14-03-2020,25-03-2020,Area1,Area6,Delivered,198
3,104,Phillip,John,23-06-2020,25-06-2020,Area1,Area4,Delivered,314

Q5. Print all shipment details that are received by Ramya

In [12]:
updated_shipment_data[updated_shipment_data['Receiver'] == 'Ramya']

,Shipment id,Sender,Receiver,Start date,Delivery Date,Sender_location,Receiver_location,Delivery status,Shipping cost
0,101,Phillip,Ramya,14-03-2020,25-03-2020,Area1,Area6,Delivered,198
2,103,Omega III,Ramya,01-12-2020,Null,Area1,Area1,In-Transit,200

Q6. Print all shipments which are in 'In-Transit' status

In [13]:
updated_shipment_data[updated_shipment_data['Delivery status'] == 'In-Transit']

,Shipment id,Sender,Receiver,Start date,Delivery Date,Sender_location,Receiver_location,Delivery status,Shipping cost
2,103,Omega III,Ramya,01-12-2020,Null,Area1,Area1,In-Transit,200
5,106,John,Omega III,28-06-2020,Null,Area1,Area1,In-Transit,270

Q7. Print all shipments which are delivered within 7 days of courier Start date

In [16]:
for i in zip(updated_shipment_data['Start date'],updated_shipment_data['Delivery Date']):
    if i[1].lower() != 'null':
        dd1 = int(i[0].split("-")[0])
        mm1 = int(i[0].split("-")[1])
        yy1 = int(i[0].split("-")[2])
        
        dd2 = int(i[1].split("-")[0])
        mm2 = int(i[1].split("-")[1])
        yy2 = int(i[1].split("-")[2])
        
        date1 = date(yy1,mm1,dd1)
        date2 = date(yy2,mm2,dd2)
        
        datediff = (date2 - date1).days
        print(datediff)
       
        
        if datediff < 7:
            print(updated_shipment_data[updated_shipment_data['Start date'] == i[0]])
            
        
#updated_shipment_data[updated_shipment_data['Delivery Date'] != 'Null'][(date(int(updated_shipment_data['Start date'].str.split("-")[0]),int(updated_shipment_data['Start date'].str.split("-")[1]),int(updated_shipment_data['Start date'].str.split("-")[2])) - date(int(updated_shipment_data['Delivery Date'].str.split("-")[0]),int(updated_shipment_data['Delivery Date'].str.split("-")[1]),int(updated_shipment_data['Delivery Date'].str.split("-")[2]))).days]
        
#updated_shipment_data['Start date'].str.split("-")[0] - updated_shipment_data['Delivery Date'].str.split("-")[0]

11
21
2
  Shipment id   Sender Receiver  Start date Delivery Date Sender_location  \
3         104  Phillip     John  23-06-2020    25-06-2020           Area1

  Receiver_location Delivery status  Shipping cost
3             Area4       Delivered            314
12

In [17]:
from datetime import date

Q8. Print all shipments which are delivered after 15 days of courier start date or not yet been delivered.

In [18]:
for i in zip(updated_shipment_data['Start date'],updated_shipment_data['Delivery Date']):
    if i[1].lower() != 'null':
        dd1 = int(i[0].split("-")[0])
        mm1 = int(i[0].split("-")[1])
        yy1 = int(i[0].split("-")[2])
        
        dd2 = int(i[1].split("-")[0])
        mm2 = int(i[1].split("-")[1])
        yy2 = int(i[1].split("-")[2])
        
        date1 = date(yy1,mm1,dd1)
        date2 = date(yy2,mm2,dd2)
        
        datediff = (date2 - date1).days
        #print(datediff)
       
        
    if datediff > 15 or i[1] == 'Null':
        print(updated_shipment_data[updated_shipment_data['Start date'] == i[0]])

  Shipment id  Sender Receiver  Start date Delivery Date Sender_location  \
1         102  Romesh  Phillip  18-06-2020    09-07-2020           Area2

  Receiver_location Delivery status  Shipping cost
1             Area4       Delivered            275
  Shipment id     Sender Receiver  Start date Delivery Date Sender_location  \
2         103  Omega III    Ramya  01-12-2020          Null           Area1

  Receiver_location Delivery status  Shipping cost
2             Area1      In-Transit            200
  Shipment id Sender   Receiver  Start date Delivery Date Sender_location  \
5         106   John  Omega III  28-06-2020          Null           Area1

  Receiver_location Delivery status  Shipping cost
5             Area1      In-Transit            270

Q 9. Write a function find_all_routes to display all possible routes from senders location to receivers location given in the dictionary for each shipment.

In [19]:
updated_shipment_data

,Shipment id,Sender,Receiver,Start date,Delivery Date,Sender_location,Receiver_location,Delivery status,Shipping cost
0,101,Phillip,Ramya,14-03-2020,25-03-2020,Area1,Area6,Delivered,198
1,102,Romesh,Phillip,18-06-2020,09-07-2020,Area2,Area4,Delivered,275
2,103,Omega III,Ramya,01-12-2020,Null,Area1,Area1,In-Transit,200
3,104,Phillip,John,23-06-2020,25-06-2020,Area1,Area4,Delivered,314
4,105,Ramya,Romesh,29-08-2020,10-09-2020,Area5,Area3,Delivered,275
5,106,John,Omega III,28-06-2020,Null,Area1,Area1,In-Transit,270

In [20]:
import numpy as np

In [41]:
routematrix = np.array([[0,1,0,0,0,1],[1,0,1,1,0,0],[0,1,0,1,0,0],[0,1,1,0,1,0],[0,0,0,1,0,0],[1,0,0,0,0,0]])
print("Network Matrix : ")
for row in routematrix:
    print(*row)
for value in zip(updated_shipment_data['Sender_location'],updated_shipment_data['Receiver_location'],updated_shipment_data['Shipment id']):
    pickup_location=int(value[0][-1])
    delivery_location=int(value[1][-1])
    print(f"Possible routes for shipment : {value[2]} from location {pickup_location} to {delivery_location}")
    trace(pickup_location,delivery_location)

Network Matrix :
0 1 0 0 0 1
1 0 1 1 0 0
0 1 0 1 0 0
0 1 1 0 1 0
0 0 0 1 0 0
1 0 0 0 0 0
Possible routes for shipment : 101 from location 1 to 6
1-6
Possible routes for shipment : 102 from location 2 to 4
Possible routes for shipment : 103 from location 1 to 1
Possible routes for shipment : 104 from location 1 to 4
Possible routes for shipment : 105 from location 5 to 3
Possible routes for shipment : 106 from location 1 to 1

In [39]:
def find_all_routes(connections,this_place,destination,visited,path):
    visited[this_place]=True
    path.append(this_place)
    if this_place == destination:
        routes = "-".join(map(str,path))
        print(routes)
    else:
        for this_connection in connections[this_place]:
            if visited[this_connection] == False:
                find_all_routes(connections,this_connection,destination,visited,path)
    path.pop()
    visited[this_place]=False

In [40]:
def trace(pickup_location,delivery_location,dimension=6,connections={},path=[]):
    if(connections=={}):
        for row in range(dimension):
            connected_locations = []
            for col in range(dimension):
                if row!=col:
                    if routematrix[row][col] == 1:
                        connected_locations.append(col+1)
            connections[row+1] = connected_locations
        visited=[False]*(7)
        find_all_routes(connections,pickup_location,delivery_location,visited,path)